@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

/* header{
    background-image: url("/Layer\ 5.png");
    background-position:bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
} */

header section{
    background-image: url(/Layer\ 5.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%;
}
.vertical {
    border-left: 1px solid rgb(66, 66, 66);
}

